<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <profile-form>
          </profile-form>
        </div>
        <div class="col-md-4">
          <user-card>
          </user-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ProfileForm from '../ConsultUser/ProfileForm/ProfileForm'
  import UserCard from './UserCard/UserCard'
  import interceptors from 'axios'
  

  export default {
    components: {
      ProfileForm,
      UserCard
    },
 
  }


</script>
<style>

</style>
