<style src="./ProfileForm.css"></style>
<template src="./ProfileForm.html"></template>

<script>
import {notifyVue} from '../../../../shared/notification'
import interceptors from 'axios'
import sharedUrl from '../../../../shared/constantes/sharedUrl'

export default {
  name:"profile-form",
    data () {
    return {
      users: [],
      user: {
        firstName: "",
        lastName: "",
        email: "",
        address: "",
        password: "",
        confirmPassword: ""
      },
    
    }
  },
 created() {
   interceptors.get(sharedUrl.GET_ALL_USERS).then((response) => {
    this.$data.users = response.data;
    console.log('rrrrrrrrrrrrrrrr',response.data)
     })
 }
}
</script>

