<div>
    <p>les users</p>
    <div class="list">
    <ul v-for='user in users' :key='user.id'>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <p class="card-text">{{ user.roles }}</p>
                <p class="card-text">{{ user.mail}}</p>
                
            </div>
        </div>
    </ul>
</div>
</div>