<style src="./Register.css"></style>
<template src="./Register.html"></template>

<script>
export default {
  data() {
    return {
      
      register: {
        firstName: "",
        lastName: "",
        email:"",
        password:""
      }
    }
  },
  
  methods: {
   
  }
};
</script>
