<section>
    <form>
        <h2>{{ $t('Register') }}</h2>
        <div>
        </div>
        <input type="text" v-model="register.firstName" placeholder="First Name" />
        <input type="text" v-model="register.lastName" placeholder="Last Name" />
        <input type="email" v-model="register.email" placeholder="E-mail" />
        <input type="password" v-model="register.password" placeholder="Password" />
        <button>{{ $t('Register') }}</button>
    </form>
</section>