<template>
  <div class="wrapper">
    <side-bar >
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/admin/users" v-if="loggedIn && roles==='admin'">
        <i class="nc-icon nc-circle-09"></i>
        <p>{{ $t('User_Management') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/overview" v-if="loggedIn && roles==='user'">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>{{ $t('Dashboard') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/consultUser" v-if="loggedIn && roles==='user'">
        <i class="nc-icon nc-circle-09"></i>
        <p>{{ $t('User_Profile') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/user" v-if="loggedIn && roles==='user'">
        <i class="nc-icon nc-circle-09"></i>
        <p>edit</p>
      </sidebar-link>
      <sidebar-link to="/admin/table-list" v-if="loggedIn && roles=='user'">
        <i class="nc-icon nc-notes"></i>
        <p>{{ $t('Table_Liste') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/machine-form" v-if="loggedIn && roles=='user'">
        <i class="nc-icon nc-notes"></i>
        <p>{{ $t('Machine_List') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/typography" v-if="loggedIn && roles=='user'">
        <i class="nc-icon nc-paper-2"></i>
        <p>{{ $t('Typography') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/icons" v-if="loggedIn && roles=='user'">
        <i class="nc-icon nc-atom"></i>
        <p>{{ $t('Icons') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/maps" v-if="loggedIn && roles=='user'">
        <i class="nc-icon nc-pin-3"></i>
        <p>{{ $t('Maps') }}</p>
      </sidebar-link>
      <sidebar-link to="/admin/notifications" v-if="loggedIn && roles=='user'">
        <i class="nc-icon nc-bell-55"></i>
        <p>{{ $t('Notification') }}</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar"></dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import Users from '../components/Users/Users'
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  import Login from '../components/Authentification/Login/Login'
  import Vuex from "vuex";
  export default {
     data() {
    return {
    
     
    }
  },
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu,
      Login,
      Users
    },

    
    
    computed: {

      loggedIn() {
        return this.$store.getters.loggedIn
      },
      roles(){
        return this.$store.getters.roles
      },
      
      
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
