<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <machine-list @listeTodo='listeTodo($event)'>
          </machine-list>
        </div>
        <div class="col-md-12">
          <machine-todo  :todoByMachine='todo'>
          </machine-todo>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import MachineList from "./MachineList";
  import MachineTodo from "./MachineTodo";
   import interceptors from 'axios'
   import sharedUrl from '../../shared/constantes/sharedUrl'


  export default {
    data () {
      return {
        todo: {}

      }
    },
    components: {
      MachineTodo,
      MachineList,
    },
    methods: {
      listeTodo(_todo){
        this.todo = _todo
        console.log("liste des taches de cette machine :",_todo)
      }
 }
  }


</script>
<style>

</style>
