<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Machines</h4>
              <p class="card-category">Liste des machines</p>
            </template>
            <l-table class="table-hover table-striped"
                     :columns="table1.columns"
                     :data="table1.data"  @todo ='getTodoListByMachine($event)' Button="Taches">

            </l-table>
          </card>

        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/Table.vue'
  import Card from 'src/components/Cards/Card.vue'
  import interceptors from 'axios'
  import sharedUrl from '../../shared/constantes/sharedUrl'
  const tableColumns = ['Id', 'Name', 'Description', 'zone', 'Date']
  const tableData = [{
    id: "",
    name: "",
    zone: "",
    description: "",
    date: "",
  }]

  export default {
    components: {
      LTable,
      Card
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          data: [...tableData],
          machine: {},
          Taches: "Taches"
        },
      }
    },
    
    created() {
      interceptors.get(sharedUrl.GET_ALL_MACHINE).then((response) => {
       /* const result = response.data.map((item) => {
          return {
            id: item.id,
            name: item.name,
            emplacement:item.emplacement.zone,
            description: item.description,
            date: item.date,

          };
        });*/
        this.$data.table1.data = response.data;

      })

    },
    methods:{

      getTodoListByMachine(_machine){
        console.log("testtttttttt");
        this.machine = _machine;
        this.$store.dispatch('getMachine',this.machine.id)
         interceptors.get(sharedUrl.GET_ALL_TODO_BY_MACHINE+`/${this.machine.id}`).then((response) => {
            this.$emit('listeTodo',response.data);
        //  this.$router.push({ name: 'machine-todo' })
        })

      }


    }
  }
</script>
<style>
</style>
