<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Les differents Taches de cette machine</h4>
              <l-button type="success"  @click="addTodo()" class="editCardStyle"><i class="fa fa-plus"></i></l-button>
            </template>
            <l-table class="table-hover table-striped"
                     :columns="table1.columns"
                     :data="todoByMachine" @todo ='getTodoDetail($event)'  Button="Détail">

            </l-table>
          </card>

        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/Table.vue'
  import Card from 'src/components/Cards/Card.vue'
  import interceptors from 'axios'
  import sharedUrl from '../../shared/constantes/sharedUrl'
  import swal from 'sweetalert2'
  const tableColumns = ['Id', 'Name', 'Description', 'Date', 'Nameee', 'Statut', 'Namee']
  const tableData =  [{
    id:"",
    name: "",
    description: "",
    date: "",
    user: "",
    Statut: "",
    Machine: ""
  }]

  export default {
    components: {
      LTable,
      Card
    },
    data () {
      return {
        table1: {
          Detail: "Détail",
          columns: [...tableColumns],
          data: [ ...tableData],
          todo: {}
        },

      }
    },
    props:['todoByMachine'],
    methods:{

      getTodoDetail(_todo){
        this.todo = _todo;
        this.$store.dispatch('getTodo', this.todo)
        this.$router.push({ name: 'TodoForm' })
      },
      addTodo(){
        this.$router.push({ name: 'AddTodoForm' })
      }

    },


  }
</script>
<style>
.labelLeft{
  float: left;
}
</style>
