<template>
  <div>
    <card>
      <div slot="header">
        <h4 class="card-title">Gestion des utilisateurs</h4>
        <p class="category"></p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <el-table :data="tableData">
            <el-table-column type="index">

            </el-table-column>
            <el-table-column prop="id"
                             label="ID">
            </el-table-column>
            <el-table-column prop="name"
                             label="Name">
            </el-table-column>
            <el-table-column prop="mail"
                             label="E-mail">
            </el-table-column>
            <el-table-column prop="password"
                             label="Password">
            </el-table-column>
            <el-table-column prop="role"
                             label="Role">
            </el-table-column>
            <el-table-column
              label="Actions">
              <div class="td-actions" slot-scope="props">
                <a v-tooltip.top-center="'Edit Profile'" class="btn btn-warning btn-link btn-xs"
                   @click="handleEdit(props.$index, props.row)">
                  <i class="fa fa-edit"></i>
                </a>
                <a v-tooltip.top-center="'Delete'" class="btn btn-danger btn-link btn-xs"
                   @click="handleDelete(props.$index, props.row)">
                  <i class="fa fa-close"></i>
                </a>
              </div>
            </el-table-column>
          </el-table>
          <a class="buttonAdd">
          <button class="btn btn-primary" @click="addUser" ><i class="fa fa-user-circle" style="margin-right:10px" aria-hidden="true"></i>Ajouter un utilisateur</button>
          </a>
        </div>
      </div>
    </card>
  </div>
</template>
<script>
  import {Table, TableColumn} from 'element-ui'
  import sharedUrl from '../../shared/constantes/sharedUrl'
  import http from '../../environnement'
  export default {
    components: {
     
      [Table.name]: Table,
      [TableColumn.name]: TableColumn
    },
    data () {
      return {
        tableData: [{
          id:'',
          name: '',
          mail: '',
          password: '',
          role:'',
          active: ''
        }]
        
      }
    },
    methods: {
      
      handleEdit (index, row) {
         http.put(sharedUrl.UPDATE_USER).then((response) => {

           this.$router.push({ name: 'consultUser' })
         
     })  
      },

      handleDelete (index, row) {
        console.log('ID :',row.id)
         http.delete(sharedUrl.DELETE_USER+`${row.id}`).then((response) => {
         alert(`Your want to delete ${row.name}`)  
     })   
      },
      addUser(){
        this.$router.push({ name: 'User' })
      }
     
    
      
    },  
    created() {
    http.get(sharedUrl.GET_ALL_USERS).then((response) => {
      
    this.$data.tableData = response.data;
    console.log('aaaaaaaa',response.data)
     })
    },

    }
</script>
<style>
.buttonAdd{
  display: flex;
  justify-content:center;
}
</style>
