<template>
  <table class="table">
    <thead>
    <slot name="columns">
      <tr>
        <th v-for="column in columns" :key="column">{{column}}</th>
      </tr>
    </slot>
    </thead>
    <tbody>
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="column in columns" :key="column" v-if="hasValue(item, column)">{{itemValue(item, column)}}</td>
        <td>
          <button class="btn btn-info" @click="Todo(item)">{{Button}}</button>
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  export default {
    name: 'l-table',
    props: {
      columns: Array,
      data: Array,
      Button: String
    },
    methods: {
      hasValue (item, column) {
        return item[column.toLowerCase()] !== 'undefined'
      },
      itemValue (item, column) {
        return item[column.toLowerCase()]
      },
      Todo(item){

        this.$emit('todo',item) ;

      }
    }
  }
</script>
<style>
</style>
