<template>
  <card>
    <h4 slot="header" class="card-title">{{ $t('profile.Edit') }}</h4>
    <form @submit.prevent="addProfile">
      <div class="row">
        <div class="col-md-6">
          <base-input
            type="text"
            :label=" $t('profile.Name')"
            :placeholder="$t('profile.Name')"
            v-model="user.name"
            id="name"
            :v="submitted && $v.user.name.$error"
          ></base-input>
          <div v-if="submitted && !$v.user.name.required" class="invalid">Name is required</div>
        </div>
        <div class="col-md-6">
          <el-select class="select-primary" size="large" :placeholder=" $t('profile.Role')" v-model="user.roles.simple">
            <el-option
              v-for="option in user.roles.role"
              class="select-primary"
              :value="option.value"
              :label="option.label"
              :key="option.label"
            ></el-option>
          </el-select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <base-input
            type="email"
            :label=" $t('profile.Email')"
            :placeholder=" $t('profile.Email')"
            v-model="user.mail"
            :v="submitted && $v.user.mail.$error"
          ></base-input>
          <div v-if="submitted && $v.user.mail.$error" class="invalid">
            <span v-if="!$v.user.mail.required">Email is required</span>
            <span v-if="!$v.user.mail.email">Email is invalid</span>
            <p style="padding:0 0 0 20px;"></p>
            <span v-if="!$v.user.mail.isEmailAvailable">Email is least 10 characters</span>
          </div>
        </div>
        <div class="col-md-6">
          <base-input
            type="password"
            :label=" $t('profile.Password')"
            :placeholder=" $t('profile.Password')"
            v-model="user.password"
            :v="submitted && $v.user.password.$error"
          ></base-input>
          <div v-if="submitted && $v.user.password.$error" class="invalid">
            <span v-if="!$v.user.password.required">Password is required</span>
            <span v-if="!$v.user.password.minLength">Password must be at least 6 characters</span>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button
          type="submit"
          class="btn btn-info btn-fill float-right"
          @click="notifyVue('top', 'right',$t('profile.failure'),$t('profile.Success') )"
        >{{ $t('profile.Add_Profile') }}</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>
<script>
import Card from "src/components/Cards/Card.vue";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import { isEmailAvailable } from "./validators";
import { notifyVue } from "../../shared/notification";
import http from "../../environnement";
import sharedUrl from "../../shared/constantes/sharedUrl";
import interceptors from 'axios'
import {
  DatePicker,
  TimeSelect,
  Slider,
  Tag,
  Input,
  Button,
  Select,
  Option
} from "element-ui";
export default {
  components: {
    Card,
    [Option.name]: Option,
    [Select.name]: Select
  },
  data() {
    return {
      user: {
        name: "",
        mail: "",
        roles: {
          simple: "",
          role: [
            { value: "USER", label: "USER" },
            { value: "ADMIN", label: "ADMIN" },
          ],
          multiple: "ARS"
        },
        password: ""
      },
      submitted: false,
      notifications: {
        topCenter: false
      },
    };
  },
  validations: {
    user: {
      name: { required },
      mail: { required, email, isEmailAvailable },
      roles: { required },
      password: { required, minLength: minLength(6) }
    }
  },
  methods: {
    addProfile() {
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      //return event.target.reset();
      else
        this.$store.dispatch('registerAction', {
        name: this.user.name,
        mail: this.user.mail,
        password : this.user.password,
        roles: this.user.roles.simple
        
      })
          this.$router.push({ name: 'Users' })
        
    },

    notifyVue
  }
};
</script>
<style>
.invalid {
  width: 100%;
  font-size: 80%;
  color: #dc3545;
  border-color: #dc3545;
}

.select-primary.el-select .el-input .el-input__icon {
    color: #447DF7;
    border-color: #447DF7 !important;
}
.select-primary.el-select .el-input:hover input, .select-primary.el-select .el-input:hover .el-input__icon:not(.el-select__caret) {
    background-color: #447DF7;
    border-color: #447DF7 !important;
}
.select-primary.el-select .el-input input {
    background-color: white;
    border-color: #447DF7 !important;
    border-width: 1px;
    color: #447DF7;
}


</style>
