<style src="./Login.css"></style>
<template src="./Login.html"></template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";
import {notifyVue} from '../../../shared/notification'
import {UserProfile} from '../../../pages/UserProfile.vue'
import http from "../../../environnement";
import VueJwtDecode from 'vue-jwt-decode'
export default {
  data() {
    return {
      user: {
        mail: "",
        password: ""
      },
      submitted: false
    }
  },

  validations: {
    user: {
      mail: { required },
      password: { required }
    }
  },

  methods: {
    login() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;}
        else

        http.post('login', {
          mail: this.$data.mail,
          password: this.$data.password,
        })
          .then(response => {
            console.log('ttttttttttttt',response);
          //  const token = response.headers.authorization.split(' ')[1]

            localStorage.setItem('TOKEN', token)
          //  console.log("decode token :",VueJwtDecode.decode(token).sub.split(' ')[1])
            context.commit('RETREIVE_TOKEN', token)
          })
          .catch(error => {
            console.log(error)
          })


      this.$store.dispatch('retrieveToken', {
        mail: this.user.mail,
        password: this.user.password,
        
      })
      .then(response => {
        if(status=200)
        {
          this.$router.push({ name: 'User' })
        } 
        })  
    },
    notifyVue
  }
};
</script>
