<section>
    <h2>{{ $t('Login.Login') }}</h2>
    <form @submit.prevent="login">
        <div>
            <input type="text" v-model="user.mail" placeholder="mail" />
        </div>
        <div>
            <input type="password" v-model="user.password" placeholder="Password" />
        </div>
        <button type="submit"
            @click="notifyVue('top', 'right',$t('Login.failure'),$t('Login.Success') )">{{ $t('Login.Login') }}</button>
    </form>
</section>
