<template>
  <div class="row">
    <div class="col-md-6 center-block" >

      <card class="stacked-form" title="Tache Form" @edit="editToDo()" :isEditable=isEditable>
        <form  @submit.prevent="save()">
          <template slot="header">
            <h4 class="card-title">
            </h4>
          </template>
          <div>

            <fg-input label="Libellé"
                      type="text"
                      v-model= todo.name

                     >
            </fg-input>


            <fg-input label="Description">
              <textarea class="form-control" rows="5"    v-model=todo.description
                        ></textarea>
            </fg-input>
            <label>Statut</label>
            <p></p>
            <v-select v-model="selected" :option="options" :placement="placement"></v-select>

          </div>

          <button type="submit" class="btn btn-fill btn-info btn-wd">Valider</button>
        </form>
      </card>
    </div>
  </div>
</template>
<script>
  import { Checkbox, Radio } from 'src/components/index'
  import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
  import interceptors from 'axios'
  import vSelect from 'vselect-component'
  import sharedUrl from '../../shared/constantes/sharedUrl'
  export default {
    components: {
      Checkbox,
      Radio
    },

    data () {
      return {
        todo:{
        name:'',
        description:'',
        status:{
        id:'',
         },
          machine:{
          id:''
          },
        id_status:''},
        enabledEdit:true,
        isEditable:false,
        submitted: false,
        index: 1,
        options: [{
          value:"",
          label:""

        }],
        selected:{},
        placement:'down'
      }
       tableStatus = [{}]


    },
    components: {
      'v-select' : vSelect,
    },
  created() {
    interceptors.get(sharedUrl.GET_ALL_STATUS).then((response) => {
       const result = response.data.map((item) => {
         return {
           value: item.id,
           label: item.statut,
         };
       });
      this.$data.options = result;
    })

  },
    validations: {
        state: { required },
    },
    methods: {
      editToDo(){
        this.$data.enabledEdit= false;
      },
      save(){
        this.$data.todo.status.id = this.$data.selected.value
        this.$data.todo.machine.id = this.$store.getters.machine
        interceptors.post(sharedUrl.ADD_TODO, this.$data.todo).then((response) => {

        })
        this.submitted = true;
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }else {
          interceptors.post(sharedUrl.ADD_TODO, this.$data.todo).then((response) => {
            console.log("okkkkkkkkkkkkkkk")

          })
          return event.target.reset();
        }
      },



    }
  }
</script>
<style>
  .center-block{
    margin-right: auto;
    margin-left: auto;
  }
</style>
