<template>
  <div class="row">
    <div class="col-md-6 center-block" >

      <card class="stacked-form" title="Tache Form" @edit="editToDo()" :isEditable=isEditable>
        <form  @submit.prevent="save()">
          <template slot="header">
            <h4 class="card-title">
            </h4>
          </template>
          <div>
            <fg-input label="Id"
                      type="text"
                      v-model=id
                      v-bind:disabled="enabledEdit">
            </fg-input>
            <fg-input label="Libellé"
                      type="text"
                      v-model= name
                      v-bind:disabled="enabledEdit"
                     >
            </fg-input>
            <fg-input label="Date"
                      type="text"
                      v-model= date
                      v-bind:disabled="enabledEdit"
            ></fg-input>
            <fg-input label="Utilisateur"
                        type="text"
                      v-model= user
                      required
                      v-bind:disabled="enabledEdit"
            ></fg-input>
            <fg-input label="Description">
              <textarea class="form-control" rows="5"    v-model= description
                        v-bind:disabled="enabledEdit"></textarea>
            </fg-input>
            <fg-input label="Status"
                      type="text"
                      v-model= state
                      required
                      v-bind:disabled="enabledEdit"
                      :v="submitted && $v.state.$error"
            >
            </fg-input>
            <div v-if="submitted && $v.state.$error" class="invalid">
              <span v-if="!$v.state.required">Status is required</span>
            </div>
            <button type="submit" class="btn btn-fill btn-info btn-wd">Valider</button>
          </div>
        </form>
      </card>
    </div>
  </div>
</template>
<script>
  import { Checkbox, Radio } from 'src/components/index'
  import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
  export default {
    components: {
      Checkbox,
      Radio
    },

    data () {
      return {
        id:this.$store.getters.todo.id,
        name:this.$store.getters.todo.name,
        date:this.$store.getters.todo.date,
        description:this.$store.getters.todo.description,
        user:this.$store.getters.todo.user.name,
        state:this.$store.getters.todo.status.name,
        enabledEdit:true,
        isEditable:true,
        submitted: false
      }


    },
    validations: {
        state: { required },
    },
    methods: {
      editToDo(){
        this.$data.enabledEdit= false;
      },
      save(){
        this.submitted = true;
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }else return event.target.reset();
      },



    }
  }
</script>
<style>
  .center-block{
    margin-right: auto;
    margin-left: auto;
  }
</style>
