<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Taches</h4>
              <button type="submit" class="btn btn-fill btn-info btn-wd">Valider</button>
            </template>
            <l-table class="table-hover table-striped"
                     :columns="table1.columns"
                     :data="todoByMachine" @todo ='getTodoDetail($event)'  Button="Détail">

            </l-table>
          </card>

        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/Table.vue'
  import Card from 'src/components/Cards/Card.vue'
  const tableColumns = ['Id', 'Name', 'Description', 'Date']
  const tableData =  [{
    id:"",
    name: "",
    description: "",
    date: "",
    user: "",
    Status: "",
    machineName: ""
  }]

  export default {
    components: {
      LTable,
      Card
    },
    data () {
      return {
        table1: {
          Detail: "Détail",
          columns: [...tableColumns],
          data: [ ...tableData],
          todo: {}
        },

      }
    },
    props:['todoByMachine'],
    methods:{

      getTodoDetail(_todo){
        this.todo = _todo;
        this.$store.dispatch('getTodo', this.todo)

      }


    }



  }
</script>
<style>
</style>
