
<style src="./UserCard.css"></style>
<template src="./UserCard.html"></template>
<script>
  import Card from 'src/components/Cards/Card.vue'
  import interceptors from 'axios'
  import sharedUrl from '../../../../shared/constantes/sharedUrl'
  
  export default {
    components: {
      Card
    },
    data () {
      return {
         user: {
        name: "",
        lastName: "",
        email: "",
        address: "",
        password: "",
        confirmPassword: ""
      },
        details: [
          {
            title: '12',
            subTitle: 'Files'
          },
          {
            title: '2GB',
            subTitle: 'Used'
          },
          {
            title: '24,6$',
            subTitle: 'Spent'
          }
        ]
      }
    },
   
    methods: {
      getClasses (index) {
        var remainder = index % 3
        if (remainder === 0) {
          return 'col-md-3 col-md-offset-1'
        } else if (remainder === 2) {
          return 'col-md-4'
        } else {
          return 'col-md-3'
        }
      }
    },
    
  }

</script>

