
    <card class="card-user">
      <img slot="image" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src="/img/faces/face-3.jpg" alt="..."/>
  
          <h4 class="title" ><br />
            <small>First Name :{{this.$data.user.firstName}}</small>
          </h4>
        </a>
      </div>
      <p class="description text-center"> Last Name :{{this.$data.user.lastName}}</p>
      <p class="description text-center"> Email :{{this.$data.user.email}}</p>
      
      
      <div slot="footer" class="text-center d-flex justify-content-center">
        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
      </div>
    </card>
